flask==3.0.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.120.0
dateparser==1.2.0
python-dotenv==1.0.1
pytz==2024.1
zoneinfo==0.2.1; python_version < '3.9'  # Only needed for Python < 3.9 